<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
  </head>

  <body>
  	<section>
  		<div class="mid">
    		<h1>VueJS Walk</h1>
    	</mid>
    </section>
    <section>
  		<div class="mid">

    		<div id="foo">
    			{{ message }}
    		</div>

    	</mid>
    </section>

    <section>
  		<div class="mid">

    		<div id="binder">
    			<p> {{ binderText }} </p>
    			<input v-model="binderText">
    		</div>

    	</mid>
    </section>

    <section>
  		<div class="mid">

    		<div id="toDo">
    			<ul>
    				<li v-for="toDos in toDos">
    					{{ toDos.text }}
    				</li>
    			</ul>
    		</div>

    	</mid>
    </section>


    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="scripts/vueWalk.js"></script>

  </body>

</html>
