<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="css/style.css">
    
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Mono" />
  </head>

  <body>
  	<section>
  		<div class="mid">
    		<h1>VueJS Walk</h1>
    	</mid>
    </section>
    <section>
  		<div class="mid">

    		<div id="foo">
    			{{ message }}
    		</div>

    	</mid>
    </section>

    <section class="strip">
  		<div class="mid">

    		<div id="binder">
    			<p> {{ binderText }} </p>
    			<input v-model="binderText">
    		</div>

    	</mid>
    </section>

    <section>
  		<div class="mid">

    		<div id="toDo">
    			<ul>
    				<li v-for="toDos in toDos">
    					{{ toDos.text }}
    				</li>
    			</ul>
    		</div>

    	</mid>
    </section>

    <section class="strip">
    	<div class="mid">

    		<div id="userInput"
    		<p> {{ message }} </p>
    		<button v-on:click="reverseMessage">Reverse Message</button>
    		</div>

    	</div>
    </section>

    <section>
    	
    	<div class="mid">
    		<div id="inputToDO">
    			<p>make some lists</p>
    			<input v-model="newTodo" v-on:keyup.enter="addTodo">
    			  <ul>
				    <li v-for="todo in todos">
				      <span>{{ todo.text }}</span>
				      <button v-on:click="removeTodo($index)">X</button>
				    </li>
				  </ul>
    		</div>
    	</div>

    	</div>

    </section>

    <section class="strip">
    	
    	<div class="mid">
    		<p>inline css</p>
    		<div id="inlineCSS">
    			<div v-bind:style="styleOject">
    				styled stuff
    			</div>
    		</div>
    	</div>

    	</div>

    </section>


    <section>
    	
    	<div class="mid">
    		<div id="transCss">
	    		<p>css transitions</p>
		    	<div v-if="show" transition="foo">
		    		expand
		    	</div>
		    	<button v-on:click="show = !show">toggle</button>

	    </div>

    </section>

     <section class="strip">
        
        <div class="mid">
            <p> try a text filter </p>
            <div id="text-filter">
            <input v-model="name">
                <ul>
                    <li v-for="users in users | filterBy name in 'name'">
                        {{ users.name }}
                    </li>
                </ul>
            </input>
            </div>
        </div>

    </section>

    <section>
        
        <div class="mid">
            <div id="mu-view">
               <mu-comp></mu-comp>
            </div>

        </div>

    </section>


    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="scripts/vueWalk.js"></script>

  </body>

</html>










































